{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <h1>About</h1>
    <hr />

<p>I am  <a href="http://github.com/pythonhackers/pythonhackers">building</a> and I will write articles about it.
Setting up, deploy, coding, unit testing, process management, monitoring, databases, queues, statistics, log management, error handling, continuous integration, build server, and a lot more
about it.</p>

<p>I've done professional programming with multiple languages. After 7 years of .NET, 6 months of PHP, some lines of Java, in 2011 I've decided to learn Ruby and wrote a small project with it using Rails.</p>

<p>Then for my last startup, I've decided to go with the Python. Mostly because of the NLTK and the simplicity of the syntax. Tornado was
5 lines to start with.
Django was hugely popular ( like Rails ) so I give Python a try. Glad I did.</p>

<p>Today, I've been writing Python almost everyday for the last 2 years and I have really enjoyed it so far. There is a great ecosystem for Python. System admins, DevOps,
academia, big startups like <a href="http://disqus.com">Disqus</a>, <a href="http://dropbox.com">Dropbox</a>, <a href="http://chart.io">Chart.io</a>, <a href="http://quora.com">Quora</a></p>

<p>There is a great amount of documentation for almost any open source Python project.</p>

<h2>Why ?</h2>

<p>I do have a deep passion about Python, and startups. I'm going to build a community of people who also loves Pythons.</p>

<h2>How ?</h2>

<p>Plan, develop, build, deploy, get feedback, Plan .... You know where it's going.</p>

<p>I am using Python 2.7, Flask, PostgreSQL, Memcache, Cassandra.</p>

<h2>What ?</h2>

<ul>
<li>Discuss/vote open source projects</li>
<li>Find fellow hackers on your area</li>
<li>Share articles</li>
<li>Share pycode</li>
<li>Built awesome stuff together</li>
</ul>

<p>This is what I want to build.</p>

        <a href="#mc_embed_signup" id='join-us' data-toggle='modal' data-track='newsletter' class="btn btn-primary">Join Beta&nbsp;(200+)</a>

        <p></p>

        <hr />

        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout "
           data-via="pythonhackers" data-size="large" data-related="pythonhackers" data-hashtags="python, hackers"
                >Tell your friends</a>
        <a href="https://twitter.com/bahadircambel" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @bcambel</a>
        <a href="https://twitter.com/pythonhackers" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @pythonhackers</a>

        <hr />

        <div id="disqus_thread"></div>

        </div>

    </div>
{% endblock %}


{% block scripts %}
    {% if PROD %}
var disqus_shortname = 'pythonhackers';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    {% endif %}
{%  endblock %}