{% extends "base.html" %}

{% block content %}
<main class="bs-masthead" id="content" role="main">

    <div class="container">

        <p class="lead alert alert-warning">
            Public registration is not enabled for right now.
        </p>
        <p class="lead">
            <a href="#mc_embed_signup" class="btn btn-primary btn-lg" data-toggle="modal" title="">Subscribe for early access</a>
        </p>
        <br />
        <p class="lead" >
            <a href="https://twitter.com/pythonhackers" class="twitter-follow-button pull-left"
           data-show-count="true" data-size='large' data-show-count="false" data-lang="en">Follow
            @pythonhackers</a>
            </p>
        <p class="lead" style="margin-top: 20px;width: 100%;padding-top: 30px;">
            <iframe src="http://ghbtns.com/github-btn.html?user=pythonhackers&repo=pythonhackers&type=watch&count=true&size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="216px" height="30px"></iframe>
        </p>

        </div>
</main>

{% endblock %}