<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{{ meta_title or "Python Hackers Community" }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
          content="Popular python projects, open source python projects, Python Community, Python Hackers, python tutorials, python articles, python reverse list, {{ meta_keywords }}"
    <meta name="description" content="{{ meta_title }}; {{ meta_description }}"/>
    <meta property="og:title" content="{{ meta_title }}"/>
    <meta property="og:site_name" content="Python Hackers"/>
    <meta property="og:description" content="{{ meta_title }}; {{ meta_description }}"/>

    {% if canonical %}
        <link rel="canonical" href="{{ canonical }}"/>
    {% endif %}

{#    <link href="/static/css/bootstrap-cerulean.min.css" rel="stylesheet">#}
{#    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="/static/css/bootstrap-flatly.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/buttons.css" rel="stylesheet">
{#    <link href="/static/css/bootstrap-wysihtml5.css" rel="stylesheet">#}
{#    <link href="/static/css/vex.css" rel="stylesheet">#}
{#    <link href="/static/css/vex-theme-os.css" rel="stylesheet">#}
    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/css/pygments_tango.css" rel="stylesheet">

    {% block head %}{% endblock %}
    {#    <link href="/static/css/bootstrap-journal.min.css" rel="stylesheet">#}
    {#    <link href="/static/css/bootstrap-yeti.min.css" rel="stylesheet">#}

</head>
<body>
<a href="https://github.com/pythonhackers/pythonhackers"><img
        style="position: absolute; top: 0; left: 0; border: 0;z-index: 10000;"
        src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>

<div id="page-wrap">
    <div class="navbar navbar-default">
        <div class="container col-lg-offset-1">
            <a class="navbar-brand" href="/">Python Hackers</a>
            <ul class="nav navbar-nav">

                <li><a href="/links">Links</a></li>
                <li><a href="/top-python-projects/" style="color:orangered;font-weight:bold;">Top Python Projects</a></li>
                {#                <li class="dropdown">#}
                {#                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
                {#                        Channels<b class="caret"></b>#}
                {#                    </a>#}
                {#                    <ul class="dropdown-menu">#}
                {#                        {% for channel in channels %}#}
                {#                            <li><a href="/channels/{{ channel.slug }}">{{ channel.name }}</a></li>#}
                {#                        {% endfor %}#}
                {##}
                {#                        <li class="divider"></li>#}
                {#                        <li><a href="/channels/lobby">Lobby</a></li>#}
                {#                    </ul>#}

                {#                <li><a href="#mc_embed_signup" id='join-us' data-toggle='modal' data-track='newsletter'>Join Beta&nbsp;(200+)</a></li>#}
                <li><a href='/about'>About</a></li>
                <li><a href="http://github.com/pythonhackers/pythonhackers" target="_blank"><i class='fa fa-github'></i>&nbsp;28</a>
                </li>
                <li><a href="http://twitter.com/pythonhackers" target="_blank"><i class='fa fa-twitter'></i>&nbsp;260
                </a></li>
            </ul>
            <ul class='nav navbar-nav pull-right'>
                {% if logged_in %}
                    <!-- {{ current_user }} -->
                    <li><a href="#world"><i class="fa fa-globe"></i> </a></li>
                    <li><a href="#" data-trigger="message"><i class="fa fa-envelope-o"></i> </a></li>
                    {#                    <li><a href="#"><i class="fa fa-comments-o fa-2x"></i> </a></li>#}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src='{{ current_user.pic_url }}' height='25px' width="25px" class="img-rounded"/>&nbsp;
                            &nbsp;
                            <span id='profile_link'>{{ current_user.nick }} </span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {#                  <li><a href="#">Action</a></li>#}
                            <li><a href="/profile"><i class='fa fa-user'></i>&nbsp;&nbsp;&nbsp;Profile</a></li>
                            {#                            <li class="disabled"><a href="/profile/settings" ><i class='icon-cogs'></i>&nbsp;&nbsp;Settings</a></li>#}
                            <li><a href="/logout"><i class='fa fa-power-off'></i>&nbsp;&nbsp;&nbsp;Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li style=''>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="body" class="container-fluid">
        <div id='main'>
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer" class='container-fluid footer'>
        <div class="container">
            <p>
                Made in Amsterdam with <i class="fa fa-heart"></i> between 2013 - {{ year }} by <a href="/user/bcambel">@bcambel</a>&copy;
            </p>
        </div>

        <p>

        </p>
    </div>
    {% include "modals.html" %}
    {% include "js_templates.html" %}

    <script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>

{#    <script src="/static/js/libs/vex.combined.min.js" type="text/javascript"></script>#}
{#    <script>vex.defaultOptions.className = 'vex-theme-os';</script>#}
{#    <script src="/static/js/libs/tether.min.js" type="text/javascript"></script>#}
{#    <script src="/static/js/libs/drop.min.js" type="text/javascript"></script>#}
{#    <script src="/static/js/libs/tooltip.min.js" type="text/javascript"></script>#}
{#    <script src="/static/js/libs/humanize.min.js" type="text/javascript"></script>#}
    <script src="/static/js/app/main.js?_={{ cache_buster }}"></script>
    <script src="/static/js/app/message.js?_={{ cache_buster }}"></script>

    {% block script_links %}{% endblock %}

    {% if PROD %}
        {% include "3rd_party.html" %}
    {% endif %}


    {% include "mailchimp_form.html" %}

    <script>
        {% block scripts %}{% endblock %}
        {% autoescape off %}
        var session = {{ user_json }};
        {#    document.getElementById("profile_link").innerHTML = "Welcome, " + session.user.nick;#}
        {% endautoescape %}

    </script>



</div>
</body>
</html>