{% extends "base.html" %}

{% block content %}

    <div class="container">
    {#    <h1>Discussions</h1>#}
    <div class="row-fluid">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="float:left;">Discussions</h3>

                    <div class="btn-group pull-right " data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="options" id="option1"> Latest
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option2"> Today
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option3"> This week
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option3"> This month
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="option3"> This year
                        </label>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                </div>
                <div class="panel-body">
                    <a href="#discuss-dialog" class="btn btn-primary pull-right">Start a discussion</a>

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown">
                            Topics
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" href="/discuss/topic/flask">Flask</a></li>
                            <li role="presentation"><a role="menuitem" href="/discuss/topic/flask">Django</a></li>
                            <li role="presentation"><a role="menuitem" href="/discuss/topic/flask">NumPy</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="discussions">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>Post</td>
                                <td>Msg</td>
                                <td>Follower</td>
                                <td>View</td>
                                <td>Pub</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dis in discussions %}
                                <tr>
                                    <td><a href="/discuss/{{ dis.slug }}/{{ dis.id }}" style="display: block;   ">
                                        {{ dis.title }}
                                    </a></td>
                                    <td>{{ dis.counter.message_count }}</td>
                                    <td>{{ dis.counter.follower_count }}</td>
                                    <td>{{ dis.counter.view_count }}</td>
                                    <td><span data-date="{{ dis.published_date }}">{{ dis.published_date }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="part">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script_links %}
    <script src="/static/js/app/discuss.js?ts={{ cache_buster }}"></script>
{% endblock %}

{% block head %}
    <link href="{{ static_route }}/css/bootstrap-wysihtml5.css" rel="stylesheet">
{% endblock %}