{% extends "base.html" %}
{% block head %}
    <link href="//cdn1.pythonhackers.com/css/vex.css" rel="stylesheet"/>
    <link href="//cdn1.pythonhackers.com/css/vex-theme-os.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.3/jquery.tagsinput.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="discussion col-lg-8">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        <a href="/discuss/{{ discussion.slug }}/{{ discussion.id }}">
                            {{ discussion.title }}
                        </a>
                    </h3>

                </div>
                <div class="panel-body discussion-head">
                    {% autoescape off %}
                    {{ message.html }}
                    {% endautoescape %}
                </div>
                <input name="tags" id="tags" value="CEO,Startup,culture" data-role="tagsinput" />
            </div>


            <div class="linklist links clearfix">
                <div class="posts">
                </div>
                <hr/>
                <form id="discussion-message" class="form" action="/ajax/discuss/message/new" data-remote="true"
                      method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your answer</h3>
                        </div>
                        <div class="panel-body">
                            <div class="messages clearfix">
                                <div class="form-group">
                                    <textarea name='text' class="form-control input-block-level" rows="3"
                                              placeholder="An awesome reply is waiting here"></textarea>
                                    <input type="hidden" name="id" value="{{ discussion.id }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type='submit' class="pull-right btn btn-default">Post</button>
                            <div class="clearfix">&nbsp;</div>
                        </div>

                    </div>
                </form>

            </div>

            <div class="footer">

            </div>
        </div>
        <div class="related col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <div class="panel-body">


                    {#            <a href="/post/{{ discussion.post_id }}">{{ discussion.post_id }}</a>#}
                    <!-- {{ discussion_user }} -->
                    <h4 class="inline">
                        <a href="/user/{{ discussion_user.nick }}">
                            <img src="{{ discussion_user.pic_url }}" style="width:40px;height:40px;margin-right:10px;"/>
                            <span class="gray" style="font-size:12px;">by</span>
                            <span class="link">{{ discussion_user.nick }}</span>
                        </a>
                    </h4>
                    <span data-date="{{ discussion.published_date }}">{{ discussion.published_date }}</span>
                    {% if discussion.user_id == current_user.id %}
                        <hr/>
                        <form class="form-inline " action="/ajax/discuss/{{ discussion.id }}/delete" method="post">
                            <input type="hidden" id="discussion_id" name="id" value="{{ discussion.id }}"/>
                            <button class="btn btn-danger btn-xs" title="Delete this discussion">Delete</button>
                        </form>
                    {% endif %}
                    <hr/>

                    <div class="clearfix">

                        <form class="form-inline pull-left" action="/ajax/discuss/{{ discussion.id }}/follow"
                              method="post"
                              data-remote="true"
                              style="margin-right:10px;">
                            <input type="hidden" id="discussion_id" name="id" value="{{ discussion.id }}"/>
                            {% if discussion_user and discussion_user.following %}
                                <input type="hidden" id="status" name="status" value="unfollow"/>
                                <button type='submit' class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Following
                                </button>
                            {% else %}
                                <input type="hidden" id="status" name="status" value="follow"/>
                                <button type='submit' class="btn btn-info">Follow discussion</button>
                            {% endif %}
                        </form>

                    </div>
                    <hr/>
                    <h5><code>{{ counters.message_count }}</code> messages </h5>
                    <h5><code>{{ counters.user_count }}</code> users</h5>
                    <h5><code>{{ counters.view_count }}</code> views</h5>
                    <h5><code>{{ counters.follower_count }}</code> followers</h5>
                </div>
            </div>


            <hr/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Related discussions</h3>
                </div>
                <div class="panel-body">
                    <ul class="related-discussions">
                        {% for rel in related_discussions %}
                            <li>
                                <a href="/discuss/{{ rel.slug }}/{{ rel.id }}">
                                    {{ rel.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <h4></h4>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>


</div>

{% endblock %}


{% block script_links %}
    {#    <script src="{{ static_route }}/js/handlebars.js" type="text/javascript"></script>#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"
            type="text/javascript"></script>
    <script src="//cdn1.pythonhackers.com/js/vex.combined.min.js" type="text/javascript"></script>
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.3/jquery.tagsinput.min.js" type="text/javascript"></script>#}
    <script src="{{ static_route }}/js/bootstrap-tagsinput.min.js" type="text/javascript"></script>
    <script src="/static/js/app/discuss.js?ts={{ cache_buster }}"></script>
{% endblock %}


