{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="discussion col-lg-8">
            <div class="header">

                <a href="/discuss/{{ discussion.slug }}/{{ discussion.id }}"><h3>{{ discussion.title }}</h3></a>
                <a href="/post/{{ discussion.post_id }}">{{ discussion.post_id }}</a>
                <hr/>

                <div class="">
                    {% autoescape off %}
                    {{ message.html }}
                    {% for p in posts %}
                        <div class="row">
                            <div>
                                <a href="/user/{{ p.user.nick }}">{{ p.user.nick }}</a>:
                                <div class="message">{{ p.html }}</div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endautoescape %}
                </div>
            </div>

            <div class="messages clearfix">
                <div class="row">
                    <form action="/ajax/discuss/message/new" data-remote="true" method="post">
                        <div class="input-group">
                            <textarea name='text' class="form-control input-lg" rows="1"
                                      placeholder="An awesome reply is waiting here"></textarea>
                            <input type="hidden" name="id" value="{{ discussion.id }}"/>
                            <span class="input-group-btn">
                            <button class="pull-right btn btn-primary btn-lg">Post</button>
                                </span>
                        </div>
                    </form>
                </div>


            </div>
            <div class="footer">

            </div>
        </div>
        <div class="related col-lg-4">
            <form class="form-inline" action="/ajax/discussion/follow" method="post">
                <input type="hidden" id="discussion_id" name="id" value="{{ discussion.id }}"
                <button class="btn btn-info  ">Follow discussion</button>
            </form>
            <h5><code>{{ counters.message_count }}</code> messages </h5>
            <h5><code>{{ counters.user_count }}</code> users</h5>
            <h5><code>{{ counters.view_count }}</code> views</h5>
            <hr />
            <h4>Related discussions</h4>
            <ul>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
                <li>Discussion are an important part of the whole process</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="clearfix"></div>


</div>

{% endblock %}

{% block script_links %}
<script src="/static/js/app/discuss.js?ts={{ cache_buster }}" ></script>
{% endblock %}


