<!-- JS Templates Here -->
{% raw %}
<script type='text/x-handlebars-template' id='project-template'>
{{#each projects }}
<div class='row link-box ositem'>
    <div class='row'>
        <div class='col-lg-1 number'>
            <span class='index'>{{ index }}.</span>

        </div>
        <div class='col-lg-9 info'>
            <a class='project' href='/open-source/{{ slug }}'>{{ name }}</a>
            <a href='{{ src_url }}' target="_blank">(git)</a>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <div class='row description'>
        <div class='col-lg-1 number'>
            <a href="/open-source/{{ slug }}" data-toggle="tooltip"
               title='{{ name }} has <br />{{ watchers }} watchers on Github'
               data-html='true' data-placement='auto left'>{{ watchers }}</a>

        </div>
        <div class='col-lg-11'>
            <p>{{ description }}</p>
        </div>
    </div>

    </div>
    {{/each }}
</script>

{% endraw %}