<!-- JS Templates Here -->
{% raw %}
<script type='text/x-handlebars-template' id='project-template'>
{{#each projects }}
<div class='row link-box ositem'>
    <div class='row'>
        <div class='col-lg-1 number'>
            <span class='index'>{{ index }}.</span>

        </div>
        <div class='col-lg-9 info'>
            <a class='project' href='/open-source/{{ slug }}'>{{ name }}</a>
            <a href='{{ src_url }}' target="_blank">(git)</a>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <div class='row description'>
        <div class='col-lg-1 number'>
            <a href="/open-source/{{ slug }}" data-toggle="tooltip"
               title='{{ name }} has <br />{{ watchers }} watchers on Github'
               data-html='true' data-placement='auto left'>{{ watchers }}</a>

        </div>
        <div class='col-lg-11'>
            <p>{{ description }}</p>
        </div>
    </div>

    </div>
    {{/each }}
</script>

<script type="text/x-handlebars-template" id="message-template">
    {{#each message }}
     <div class='row message-container'>
        <div class='front-action col-lg-2'>
            <i class='fa fa-arrow-up fa-2x'></i>
            <span class="label"> 1 </span>
        </div>
        <div class='col-lg-10 link-box' style="padding-left:0;">
            <div class='clear link-container row'>
                <div class='col-lg-11'>
                    <div class="message">
                        {{{ html }}}
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-5'>
                    <a href="#post" class="link-discuss">{{ ago }}</a>
                    <a href="/user/{{ user.nick }}"> by @{{ user.nick }}</a>
                    <a href="#post" class="link-discuss">{{ comment }} Comments</a>
                </div>

                <div class="col-6" style="text-align: right">
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
{% endraw %}