<!-- JS Templates Here -->
{% raw %}
<script type='text/x-handlebars-template' id='project-template'>
{{#each projects }}
<div class='row link-box ositem'>
    <div class='row'>
        <div class='col-lg-1 number'>
            <span class='index'>{{ index }}.</span>

        </div>
        <div class='col-lg-9 info'>
            <a class='project' href='/open-source/{{ slug }}'>{{ name }}</a>
            <a href='{{ src_url }}' target="_blank">(git)</a>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <div class='row description'>
        <div class='col-lg-1 number'>
            <a href="/open-source/{{ slug }}" data-toggle="tooltip"
               title='{{ name }} has <br />{{ watchers }} watchers on Github'
               data-html='true' data-placement='auto left'>{{ watchers }}</a>

        </div>
        <div class='col-lg-11'>
            <p>{{ description }}</p>
        </div>
    </div>

    </div>
    {{/each }}
</script>

<script type="text/x-handlebars-template" id="discuss-template">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <form class="form-horizontal" method="post" action="/discuss/new">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What do you want to talk about?</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
                <label>Title</label>
                <input type='text' class="form-control" name="title"/>
            </div>
            <div class="form-group">
                <textarea rows="5" class="form-control" name="text"></textarea>
            </div>
            <div class="form-group">
                <label>Topic</label>
                <select class="form-control" name="topic"></select>
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="form-control btn-primary">Start Discussion</button>
      </div>
    </div></form>
  </div>
</div>

</script>
<script type="text/x-handlebars-template" id="modal-template">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/x-handlebars-template" id="message-template">
{{#each message }}
    <div class='panel panel-default post'  data-message-id="{{ id }}" data-user-id="{{ user.id }}">
        <div class='panel-heading' style='position:relative'>
            <div class='front-action'>
                <a href="#" data-trigger="upvote" class="orange" title='Upvote'>
                    <i class='fa fa-arrow-up fa-2x {{#if upvoted }}orange{{/if}}'></i>
                </a>
                <span>
                {{#if stats.up_votes }}
                    <span class="label">{{ stats.up_votes }}</span>
                    {{else }}
                    <span class="label">-</span>
                    {{/if }}
            </div>
            <a href="/user/{{ user.nick }}">
                @{{ user.nick }}</a> wrote <a href="/post/{{ id }}" class="link-discuss">{{ ago }}</a>
                {{#if display_context  }}
                in <a href='/discuss/{{ discussion_slug }}/{{ discussion_id }}/'>{{ discussion_name }}</a>
                {{/if}}

        </div>
        <div class='panel-body'>
             <div class="message">
                        {{{ html }}}
             </div>
        </div>
        <div class='panel-footer hidden'>

                    <a href="/post/{{ id }}" class="link-discuss"><i class="fa fa-bars"></i>&nbsp;{{ comment }} Details</a>
                    {{#if can_delete }}
                    <a href="/ajax/post/{{ id }}/delete" data-action='delete-message' class='link-discuss'><i class="fa fa-times"></i>&nbsp;Delete</a>
                    <a href="/post/{{ id }}/edit" data-action='edit-message' class='link-discuss'><i class="fa fa-edit"></i>&nbsp;Edit</a>
                    {{/if}}
        </div>
    </div>
{{/each}}
</script>


<script type="text/x-handlebars-template" id="discussion-template">
    {{#each discussions }}
     <div class='clearfix message-container' data-message-id="{{ id }}">
        <div class='front-action col-lg-2'>
            <a href="#" data-trigger="upvote">
            <i class='fa fa-arrow-up fa-2x'></i></a>
            <span class="label"> 1 </span>
        </div>
        <div class='col-lg-10 link-box' style="padding-left:0;">
            <div class='clear link-container clearfix'>
                <div class='col-lg-12'>
                    <div class="message">
                    <a class='link' href='/user/{{ user.nick }}'>{{ user.nick }}</a>
                    wrote a message in&nbsp;
                    <a class="link" href="/discuss/{{ slug }}/{{ id }}">
                        {{{ title }}}
                    </a>
                    </div>
                </div>
            </div>
            <div class='clearfix'>
                <div class='col-lg-5'>
                    <a href="#post" class="link-discuss">{{ ago }}</a>
                    <a href="/user/{{ user.nick }}"> by @{{ user.nick }}</a>
                </div>

                <div class="col-6" style="text-align: right">
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<script type="text/x-handlebars-template" id="edit-message-template">
<div class="clearfix" style="width:100%;">
    <form method="POST" action="/ajax/post/{{ id }}/edit" data-remote="true">
    <textarea name='message' class="form-control input" rows="2"
                                      placeholder="An awesome reply is waiting here" style="width:99%;"></textarea>
                                      <button type="submit" class="btn btn-primary">Post</button>
                                      </form>
</div>
</script>
{% endraw %}

{# <a href="#" data-action='reply' class='link-discuss'><i class="fa fa-reply"></i>&nbsp;Reply</a>  #}
  {#          <a href="#" data-action='repost' class='link-discuss'><i class="fa fa-retweet"></i>&nbsp;Repost</a> #}
