<div class='modal fade' id="mc_embed_signup">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="http://pythonarticles.us7.list-manage.com/subscribe/post?u=ec40ca305ad5132552f8666a7&amp;id=d588dd7362"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline"
                  target="_blank" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Need a bit of time...</h4>
                </div>
                <div class="modal-body">
                    <p>Drop us your email and we will let you know as soon as we are ready. Also follow us on Twitter...</p>

                    <input type="text" value="" name="EMAIL" class="form-control" id="mce-EMAIL"
                           placeholder="email address" required style='height:45px;font-size:1.5em;'>
                    <br/><br/>

                    <p>
                        <a href="https://twitter.com/pythonhackers" class="twitter-follow-button pull-right"
                           data-show-count="true" data-size='large' data-show-count="false" data-lang="en">
                            Follow @pythonhackers</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" data-dismiss='modal'>Close</button>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                           class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>