{% set meta_description =  project.description %}
{% set meta_title =  project.name %}
{% extends "base.html" %}
{% from "widgets/user_image_list.html" import image_list_macro %}

{% block content %}
<div class='container'>
    <div class='row' style='border-radius: 10px;padding-bottom:10px'>
        <div class='col-lg-2' style="text-align: center;padding-top:15px;">
            <h3 style='padding-bottom: 10px;'><i class='icon-star' style='color:goldenrod'></i>&nbsp;{{ project.watchers }}</h3>
            <form method="post" action="/ajax/follow" data-remote>
                  <input type="hidden" name="id" value="{{ project.id }}" />
                  <input type="hidden" name="slug" value="{{ project.slug }}" />
            <button type="submit" class='btn btn-default'
               ><i class='icon-heart'></i>&nbsp;Love it</button>
            </form>
        </div>
        <div class='col-lg-8'>
            <h1>{{ project.name }}</h1>
            <a href='{{ project.src_url}}'>
                {{ project.src_url }}
            </a>

            <p style='padding-top:10px;padding-bottom: 10px;font-size:14px;'>{{ project.description }}</p>
{#            <span class='label label-success'>Web Framework&nbsp;&nbsp;<i class='icon-plus'></i></span>#}
            {% if project.categories %}
            {% for cat in project.categories %}
            <span class="label label-danger">{{ cat }}</span>
            {% endfor %}
            {% endif %}
        {{ image_list_macro(followers) }}

        </div>
        <div class='col-lg-2' style='padding-top:20px;'>
            <a href="https://twitter.com/share" class="twitter-share-button"
               data-via="pythonhackers" data-size="large" data-related="pythonhackers"
               data-hashtags="python,hackers">Tell your friends</a>
        </div>
    </div>

    <hr />

    <div class='row'>
        <div class='col-lg-6'>
            <h3>{{ project.name }} Related Projects</h3>

            {% for project in related_projects %}
                <div class='row link-box ositem'>
                    <div class='row'>
                        <div class='col-lg-1 number'>
                            <span class='index'>{{ loop.index }}.</span>

                        </div>
                        <div class='col-lg-10 info'>
                            <a class='project' href='/os/{{ project.slug }}'>{{ project.name }}</a>
                            <a href='{{ project.src_url }}' target="_blank">(git)</a>
                        </div>
                    </div>
                    <div class='row description'>
                        <div class='col-lg-1 number'>
                            <a href="/os/{{ project.slug }}" data-toggle="tooltip"
                               title='{{ project.name }} has <br />{{ project.watchers }} watchers on Github'
                               data-html='true' data-placement='auto left'>{{ project.watchers }}</a>

                        </div>
                        <div class='col-lg-11'>
                            <p style=''>{{ project.description }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
        <div class='col-lg-6'></div>
    </div>


    <hr />
    <div id="disqus_thread"></div>

</div>
{% endblock %}

{% block scripts %}
    {% if PROD %}
var disqus_shortname = 'pythonhackers';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    {% endif %}
{%  endblock %}