{% extends "base.html" %}


{% block content %}
    <div class='container'>
        <div class='col-lg-6 col-lg-offset-3'>
            {% for p in packages %}
                <div class="clearfix row">
                <div class="col-lg-2">
                    <span title="{{ p.mdown }}">{{ p.download }}</span>
                </div>
                    <div class="col-lg-10">
                <a href="/python-packages/{{ p.name }}" target="_blank">
                {{ p.name }}
                </a>
                <p>
                    {{ p.summary }}
                </p>
                </div></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}