{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/user/{{ post_user.nick }}">
                    <img src="{{ post_user.pic_url }}" style="width:40px;height:40px;margin-right:10px;"/>
                    <span class="link">{{ post_user.nick }}</span>

                </a>
                <span class="gray" style="font-size:12px;">wrote at</span>
                <span class="gray" data-date-epoch="{{ post.created_at }}">{{ post.created_at }}</span>
            </div>
            <div class="panel-body">
                <div class="post">

                    <b>This post has been deleted</b>

                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>

        <div class="replies">
            <div class="panel panel-default">
                <div class="panel-body">
                    No replies yet.

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}