{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                       {{ post.user_id }} said
                    </h3>

                </div>
                <div class="panel-body">
                    {% autoescape off %}
                    {{ post.html }}
                    {% endautoescape %}
                </div>
            </div>

            </div>



{% endblock %}