{% set meta_description =  "Top 400 Python projects on Github" %}
{% set meta_title =  "Top 400 Python projects on Github" %}
{% extends "base.html" %}


{% block content %}
<div class="container">
        <div class="frame col-lg-6 col-lg-offset-3">
            <div id="frame" >

                    {% for project in projects %}
                <div class='row link-box ositem'>
                    <div class='row'>
                        <div class='col-lg-1 number'>
                            <span class='index'>{{ loop.index }}.</span>

                        </div>
                        <div class='col-lg-9 info'>
                            <a class='project' href='/open-source/{{ project.slug }}'>{{ project.name }}</a>
                            <a href='{{ project.src_url }}' target="_blank">(git)</a>
                        </div>
                        <div class="col-lg-1">
                            {% include "widgets/follow_btn.html" %}
                        </div>
                    </div>
                    <div class='row description'>
                        <div class='col-lg-1 number'>
                            <a href="/open-source/{{ project.slug }}" data-toggle="tooltip"
                               title='{{ project.name }} has <br />{{ project.watchers }} watchers on Github'
                               data-html='true' data-placement='auto left'>{{ project.watchers }}</a>

                        </div>
                        <div class='col-lg-11'>
                            <p>{{ project.description }}</p>
                        </div>
                    </div>

                </div>
            {% endfor %}
            </div>

            <a href="#" class='btn btn-default btn-block' id="next">More</a>
</div>


</div>


{% endblock %}


{% block script_links %}
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js" type="text/javascript"></script>
<script src="/static/js/app/sly.js?_={{ cache_buster }}" type="text/javascript"></script>
{% endblock %}