{% set meta_description =  "Top Python Developers Contributers" %}
{% set meta_title =  "Top Python Developers Contributers" %}
{% set meta_keywords = "Top Python Developers Contributers, Python projects, python github, github python, python open source projects" %}
{% extends "base.html" %}


{% block content %}

    <div class="container">
    <div class="bs-callout bs-callout-warning">

            <a href="#mc_embed_signup" data-toggle='modal' class="btn btn-success"
               data-track='newsletter'
               >Subscribe</a>
            <span style="padding-left:10px;padding-right:10px;">No spamming, I promise!</span>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Top 400 #Python Projects"
                   data-via="pythonhackers" data-url="pythonhackers.com/top-python-projects/" data-size="large" data-related="pythonhackers"
                   data-hashtags="python,hackers,github">Tell your friends</a>

                <a href="https://twitter.com/pythonhackers" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">
                            Follow @pythonhackers</a>
            <hr />
            <p>
                <span style="font-size:18px;">People who made huge contributions to Python ecosystem.</span>    <br />
                <span style="font-weight: bold;text-decoration: underline;font-size:24px;">


                This list is not sorted by any means. All these people are #1 for me.</span>
            </p>
        </div>

    <table class='table table-bordered table-responsive table-striped table-condensed'>
    <thead>
    <tr>
        <th style="width:160px;">Name</th>
        <th style="width:80px;">Contributes</th>
        <th>Twitter</th>
        <th>Github</th>
        <th style="width: 100px;word-wrap: break-word">Web</th>
        <th>Web</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class='s0'>Guido Van Rossum</td>
        <td>Python</td>
        <td><a target="_blank"
               href="https://twitter.com/gvanrossum">@gvanrossum</a></td>
        <td><a target="_blank"
               href="https://github.com/gvanrossum">@gvanrossum</a></td>
        <td><a target="_blank"
               href="http://en.wikipedia.org/wiki/Guido_van_Rossum">wiki/Guido_van_Rossum</a></td>
        <td><a target="_blank"
               href="http://www.python.org/~guido/">python.org/~guido/</a></td>

    </tr>
    <tr>

        <td>Tim Peters</td>
        <td>Python</td>
        <td></td>
        <td></td>
        <td><a target="_blank"
               href="http://c2.com/cgi/wiki%3FTimPeters">c2.com/cgi/wiki?TimPeters</a></td>
        <td><a target="_blank"
               href="http://en.wikipedia.org/wiki/Timsort">en.wikipedia.org/wiki/Timsort</a></td>

    </tr>
    <tr>

        <td>Raymond Hettinger</td>
        <td>Python</td>
        <td><a target="_blank"
               href="https://twitter.com/raymondh">@raymondh</a></td>
        <td><a target="_blank"
               href="https://github.com/raymondh">@raymondh</a></td>
        <td></td>
        <td></td>

    </tr>
    <tr>

        <td>David Beazley
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/dabeaz">@dabeaz</a>
        <td><a target="_blank"
               href="https://github.com/dabeaz">@dabeaz</a>
        <td><a target="_blank"
               href="http://www.dabeaz.com">dabeaz.com</a>
        <td>

    </tr>
    <tr>

        <td>Armin Ronacher
        <td>Flask, Werkzeug
        <td><a target="_blank"
               href="https://twitter.com/mitsuhiko">@mitsuhiko</a>
        <td><a target="_blank"
               href="https://github.com/mitsuhiko">@mitsuhiko</a>
        <td><a target="_blank"
               href="http://lucumr.pocoo.org/">lucumr.pocoo.org</a>
        <td>

    </tr>
    <tr>

        <td> Fernando Perez
        <td>IPython
        <td><a target="_blank"
               href="https://twitter.com/fperez_org">@fperez_org</a>
        <td>
        <td>
        <td>
    </tr>
    <tr>

        <td> Brian Grengor
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/ellisonbg">@ellisonbg</a>
        <td>
        <td>
        <td>
    </tr>
    <tr>

        <td>Andi Albrecht
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/andialbrecht">@andialbrecht</a>
        <td><a target="_blank"
               href="https://github.com/andialbrecht">@andialbrecht</a>
        <td>
        <td>
    </tr>
    <tr>

        <td>Michael Foord
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/voidspace">@voidspace</a>
        <td>
        <td><a target="_blank"
               href="http://www.voidspace.org.uk/">voidspace.org.uk</a>
        <td>
    </tr>
    <tr>

        <td>Jesse Nollar
        <td>PyCon
        <td><a target="_blank"
               href="https://twitter.com/jessenoller">@jessenoller</a>
        <td><a target="_blank"
               href="https://github.com/jnoller">@jnoller</a>
        <td><a target="_blank"
               href="http://jessenoller.com">jessenoller.com</a>
        <td>
    </tr>
    <tr>

        <td>Zed Shaw
        <td>LPHW
        <td><a target="_blank"
               href="https://twitter.com/zedshaw">@zedshaw</a>
        <td>
        <td><a target="_blank"
               href="http://zedshaw.com/%23/start">zedshaw.com/#/start</a>
        <td>
    </tr>
    <tr>

        <td>Kenneth Reitz
        <td>Requests
        <td><a target="_blank"
               href="https://twitter.com/kennethreitz">@kennethreitz</a>
        <td><a target="_blank"
               href="https://github.com/kennethreitz">@kennethreitz</a>
        <td><a target="_blank" href="http://kennethreitz.org">kennethreitz.org</a></td>
        <td><a target="_blank"
               href="http://docs.python-guide.org/en/latest/index.html">docs.python-guide.org/en/latest/index.html</a>
    </tr>
    <tr>

        <td>Alex Martelli
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="http://www.aleax.it/">aleax.it/</a>
        <td><a target="_blank"
               href="http://en.wikipedia.org/wiki/Alex_Martelli">en.wikipedia.org/wiki/Alex_Martelli</a>
    </tr>
    <tr>

        <td>Denis Bilenko
        <td>Gevent
        <td>
        <td><a target="_blank"
               href="https://github.com/denik">@denik</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/denisbilenko">linkedin.com/in/denisbilenko</a>
        <td>
    </tr>
    <tr>

        <td>Tarek Ziade
        <td>Books
        <td><a target="_blank"
               href="https://twitter.com/tarek_ziade">@tarek_ziade</a>
        <td>
        <td><a target="_blank"
               href="http://ziade.org/">ziade.org</a>
        <td>
    </tr>
    <tr>

        <td>Antoine Pitrou
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/pitrou">@pitrou</a>
        <td><a target="_blank"
               href="http://pro.pitrou.net/">pro.pitrou.net/</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/pitrou">linkedin.com/in/pitrou</a>
    </tr>
    <tr>

        <td>Holger Krekel
        <td>PyPY
        <td><a target="_blank"
               href="https://twitter.com/hpk42">@hpk42</a>
        <td>
        <td><a target="_blank"
               href="http://holgerkrekel.net/">holgerkrekel.net</a>
        <td>
    </tr>
    <tr>

        <td>Armin Rigo
        <td>PyPy
        <td>
        <td>
        <td colspan="2"><a target="_blank"
               href="http://stackoverflow.com/users/1556290/armin-rigo">sflow.com/users/1556290/armin-rigo</a>

    </tr>
    <tr>

        <td>Alex Gaynor
        <td>Django, PyPy, CPython
        <td><a target="_blank"
               href="https://twitter.com/alex_gaynor">@alex_gaynor</a>
        <td>
        <td><a target="_blank"
               href="http://alexgaynor.net/">alexgaynor.net</a>
        <td>
    </tr>
    <tr>

        <td>Maciej Fijałkowski
        <td>PyPy
        <td><a target="_blank"
               href="https://twitter.com/fijall">@fijall</a>
        <td>
        <td><a target="_blank"
               href="http://baroquesoftware.com/">baroquesoftware.com/</a>
        <td>
    </tr>
    <tr>

        <td>Carl Friedrich Bolz
        <td>PyPy
        <td><a target="_blank"
               href="https://twitter.com/cfbolz">@cfbolz</a>
        <td><a target="_blank"
               href="https://github.com/cfbolz">@cfbolz</a>
        <td><a target="_blank"
               href="http://cfbolz.de/">cfbolz.de</a>
        <td>
    </tr>
    <tr>

        <td>Ethan Furman
        <td>Python, dbf
        <td>
        <td>
        <td colspan="2"><a target="_blank"
               href="http://stackoverflow.com/users/208880/ethan-furman">sflow.com/users/208880/ethan-furman</a>
    </tr>
    <tr>

        <td>Georg Brandl
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/birkenfeld">@birkenfeld</a>
        <td><a target="_blank"
               href="https://github.com/birkenfeld">@birkenfeld</a>
        <td><a target="_blank"
               href="http://pythonic.pocoo.org/">pythonic.pocoo.org</a>
        <td>
    </tr>
    <tr>

        <td>Ned Deily
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/baybryj">@baybryj</a>
        <td>
        <td><a target="_blank"
               href="http://www.baybryj.net/">baybryj.net/</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/neddeily">linkedin.com/in/neddeily</a>
    </tr>
    <tr>

        <td>Christian Heimes
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/ChristianHeimes">@ChristianHeimes</a>
        <td><a target="_blank"
               href="https://github.com/tiran">@tiran</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/christianheimes">linkedin.com/in/christianheimes</a>
        <td>
    </tr>
    <tr>

        <td>Andrew Kuchling
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/akuchling">@akuchling</a>
        <td>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/akuchling">linkedin.com/in/akuchling</a>
        <td>
    </tr>
    <tr>

        <td>Brett Cannon
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/brettsky">@brettsky</a>
        <td>
        <td><a target="_blank"
               href="http://about.me/brettcannon">about.me/brettcannon</a>
        <td>
    </tr>
    <tr>

        <td>Nick Coghlan
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/ncoghlan_dev">@ncoghlan_dev</a>
        <td>
        <td><a target="_blank"
               href="http://www.boredomandlaziness.org/">boredomandlaziness.org</a>
        <td>
    </tr>
    <tr>

        <td>Glyph Lefkowitz
        <td>Twisted
        <td><a target="_blank"
               href="https://twitter.com/glyph">@glyph</a>
        <td>
        <td><a target="_blank"
               href="http://twistedmatrix.com/glyph/">twistedmatrix.com/glyph</a>
        <td>
    </tr>
    <tr>

        <td>Benoit Chesneau
        <td>Gunicorn
        <td><a target="_blank"
               href="https://twitter.com/benoitc">@benoitc</a>
        <td><a target="_blank"
               href="https://github.com/benoitc">@benoitc</a>
        <td>
        <td>
    </tr>
    <tr>

        <td>Brewster Malevich
        <td>
        <td><a target="_blank"
               href="https://twitter.com/sbmalev">@sbmalev</a>
        <td>
        <td><a target="_blank"
               href="https://plus.google.com/%2BBrewsterMalevich">++BrewsterMalevich</a>
        <td>
    </tr>
    <tr>

        <td>Michael Bayer
        <td>SQLAlchemy
        <td><a target="_blank"
               href="https://twitter.com/zzzeek">@zzzeek</a>
        <td>
        <td><a target="_blank"
               href="http://techspot.zzzeek.org/">techspot.zzzeek.org/</a>
        <td>
    </tr>
    <tr>

        <td>Matt Mackall
        <td>Mercurial
        <td><a target="_blank"
               href="https://twitter.com/mpmselenic">@mpmselenic</a>
        <td>
        <td><a target="_blank"
               href="http://www.selenic.com/blog/">selenic.com/blog/</a>
        <td>
    </tr>
    <tr>

        <td>Adrian Holovaty
        <td>Django
        <td><a target="_blank"
               href="https://twitter.com/adrianholovaty">@adrianholovaty</a>
        <td><a target="_blank"
               href="https://github.com/adrianholovaty">@adrianholovaty</a>
        <td><a target="_blank"
               href="http://www.holovaty.com/">holovaty.com</a>
        <td>
    </tr>
    <tr>

        <td>Simon Willison
        <td>Django*
        <td><a target="_blank"
               href="https://twitter.com/simonw">@simonw</a>
        <td><a target="_blank"
               href="https://github.com/simonw">@simonw</a>
        <td><a target="_blank"
               href="http://lanyrd.com/profile/simonw/">lanyrd.com/profile/simonw/</a>
        <td>
    </tr>
    <tr>

        <td>Victor Stinner
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/victor_stinner">@victor_stinner</a>
        <td><a target="_blank"
               href="https://github.com/haypo">@haypo</a>
        <td><a target="_blank"
               href="http://www.haypocalc.com/wiki/Accueil">haypocalc.com/wiki/Accueil</a>
        <td>
    </tr>
    <tr>

        <td>Massimo Di Pierro
        <td>web2py
        <td><a target="_blank"
               href="https://twitter.com/mdipierro">@mdipierro</a>
        <td><a target="_blank"
               href="https://github.com/mdipierro">@mdipierro</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/massimodipierro">linkedin.com/in/massimodipierro</a>
        <td>
    </tr>
    <tr>

        <td>Kevin Dangoor
        <td>turbogears
        <td><a target="_blank"
               href="https://twitter.com/dangoor">@dangoor</a>
        <td><a target="_blank"
               href="https://github.com/dangoor">@dangoor</a>
        <td><a target="_blank"
               href="http://www.blueskyonmars.com/">blueskyonmars.com/</a>
        <td>
    </tr>
    <tr>

        <td>Ask Solem
        <td>Celery
        <td><a target="_blank"
               href="https://twitter.com/asksol">@asksol</a>
        <td><a target="_blank"
               href="https://github.com/ask">@ask</a>
        <td>
        <td>
    </tr>
    <tr>

        <td>Wes McKinney
        <td>Pandas
        <td><a target="_blank"
               href="https://twitter.com/wesmckinn">@wesmckinn</a>
        <td><a target="_blank"
               href="https://github.com/wesm">@wesm</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Atsuo Ishimoto
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/atsuoishimoto">@atsuoishimoto</a>
        <td><a target="_blank"
               href="https://github.com/atsuoishimoto">@atsuoishimoto</a>
        <td><a target="_blank"
               href="http://www.gembook.org/">gembook.org/</a>
        <td>
    </tr>
    <tr>

        <td>Andrew Svetlov
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/andrew_svetlov">@andrew_svetlov</a>
        <td>
        <td>
        <td>
    </tr>
    <tr>

        <td>Barry Warsaw
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/pumpichank">@pumpichank</a>
        <td><a target="_blank"
               href="https://github.com/warsaw">@warsaw</a>
        <td><a target="_blank"
               href="http://barry.warsaw.us">barry.warsaw.us</a>
        <td>

    </tr>
    <tr>

        <td>Benjamin Peterson
        <td>Python, PyPy
        <td><a target="_blank"
               href="https://twitter.com/gutworth">@gutworth</a>
        <td>
        <td>
        <td>
    </tr>
    <tr>

        <td>Christian Tismer
        <td>Greenlet
        <td><a target="_blank"
               href="https://twitter.com/ctismer">@ctismer</a>
        <td><a target="_blank"
               href="https://github.com/ctismer">@ctismer</a>

        <td>
        <td>
    </tr>
    <tr>

        <td>Eli Bendersky
        <td>
        <td><a target="_blank"
               href="https://twitter.com/elibendersky">@elibendersky</a>
        <td><a target="_blank"
               href="https://github.com/eliben">@eliben</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Eric Snow
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="http://ericsnowcurrently.blogspot.nl/">ericsnowcurrently.blogspot.nl/</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/pub/eric-snow/5/163/247">linkedin.com/pub/eric-snow/5/163/247</a>

    </tr>
    <tr>

        <td>Eric Smith
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="http://trueblade.com/">trueblade.com/</a>

        <td>
    </tr>
    <tr>

        <td>Matthew Russell
        <td>Book
        <td><a target="_blank"
               href="https://twitter.com/ptwobrussell">@ptwobrussell</a>
        <td><a target="_blank"
               href="https://github.com/ptwobrussell">@ptwobrussell</a>
        <td><a target="_blank"
               href="http://miningthesocialweb.com/">miningthesocialweb.com/</a>

        <td>
    </tr>
    <tr>

        <td>Gregory P. Smith
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/gpshead">@gpshead</a>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Giampaolo Rodola
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/giampaolo">@giampaolo</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Chris McDonough
        <td>Supervisor, Pyramid
        <td><a target="_blank"
               href="https://twitter.com/chrismcdonough">@chrismcdonough</a>
        <td><a target="_blank"
               href="https://github.com/mcdonc">@mcdonc</a>
        <td>

        <td>
    </tr>
    <tr>

        <td>Ian Bicking
        <td>Pip, virtualenv
        <td><a target="_blank"
               href="https://twitter.com/ianbicking">@ianbicking</a>
        <td><a target="_blank"
               href="https://github.com/ianb">@ianb</a>
        <td><a target="_blank"
               href="http://www.ianbicking.org">ianbicking.org</a>

        <td>
    </tr>
    <tr>

        <td>Jacob Kaplan-Moss
        <td>Django
        <td><a target="_blank"
               href="https://twitter.com/jacobian">@jacobian</a>
        <td><a target="_blank"
               href="https://github.com/jacobian">@jacobian</a>
        <td><a target="_blank"
               href="http://jacobian.org">jacobian.org</a>
        <td>

    </tr>
    <tr>

        <td>Andy Terrel
        <td>
        <td><a target="_blank"
               href="https://twitter.com/aterrel">@aterrel</a>
        <td><a target="_blank"
               href="https://github.com/aterrel">@aterrel</a>
        <td><a target="_blank"
               href="http://andy.terrel.us">andy.terrel.us</a>
        <td>

    </tr>
    <tr>

        <td>Greg Stein
        <td>
        <td><a target="_blank"
               href="https://twitter.com/gstein">@gstein</a>
        <td>
        <td><a target="_blank"
               href="http://prng.blogspot.nl/">prng.blogspot.nl/</a>
        <td><a target="_blank"
               href="https://plus.google.com/%2BGregStein">++GregStein</a>

    </tr>
    <tr>

        <td>Wesley Chun
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/wescpy">@wescpy</a>
        <td><a target="_blank"
               href="https://github.com/wescpy">@wescpy</a>
        <td><a target="_blank"
               href="http://corepython.com/">corepython.com/</a>
        <td>

    </tr>
    <tr>

        <td>Thomas Wouters
        <td>
        <td><a target="_blank"
               href="https://twitter.com/Yhg1s">@Yhg1s</a>
        <td><a target="_blank"
               href="https://github.com/Yhg1s">@Yhg1s</a>
        <td>

        <td>
    </tr>
    <tr>

        <td>Collin Winter
        <td>
        <td>
        <td>
        <td>
        <td><a target="_blank"
               href="https://plus.google.com/104272082042063211465">+104272082042063211465</a>

    </tr>
    <tr>

        <td>Travis Oliphant
        <td>SciPy
        <td><a target="_blank"
               href="https://twitter.com/teoliphant">@teoliphant</a>
        <td>
        <td><a target="_blank"
               href="http://technicaldiscovery.blogspot.nl">technicaldiscovery.blogspot.nl</a>
        <td><a target="_blank"
               href="https://plus.google.com/111231464998965388525">+111231464998965388525</a>

    </tr>
    <tr>

        <td>James Tauber
        <td>
        <td><a target="_blank"
               href="https://twitter.com/jtauber">@jtauber</a>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Lynn Root
        <td>
        <td><a target="_blank"
               href="https://twitter.com/roguelynn">@roguelynn</a>
        <td><a target="_blank"
               href="https://github.com/econchick">@econchick</a>
        <td><a target="_blank"
               href="http://www.roguelynn.com/">roguelynn.com/</a>
        <td>

    </tr>
    <tr>

        <td>Eric Florenzano
        <td>
        <td><a target="_blank"
               href="https://twitter.com/ericflo">@ericflo</a>
        <td>

        <td>
        <td>
    </tr>
    <tr>

        <td>Frank Wierzbicki
        <td>Jython
        <td><a target="_blank"
               href="https://twitter.com/fwierzbicki">@fwierzbicki</a>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Steve Holden
        <td>PSF
        <td><a target="_blank"
               href="https://twitter.com/holdenweb">@holdenweb</a>
        <td>
        <td><a target="_blank"
               href="http://holdenweb.blogspot.nl/">holdenweb.blogspot.nl/</a>
        <td>

    </tr>
    <tr>

        <td>Jessica McKellar
        <td>Twisted, PSF
        <td><a target="_blank"
               href="https://twitter.com/jessicamckellar">@jessicamckellar</a>
        <td><a target="_blank"
               href="https://github.com/jesstess/">@jesstess/</a>
        <td><a target="_blank"
               href="http://web.mit.edu/jesstess/www/">web.mit.edu/jesstess/www/</a>

        <td>
    </tr>
    <tr>

        <td>Audrey Roy
        <td>cookiecutter, PyLadies ,Book
        <td><a target="_blank"
               href="https://twitter.com/audreyr">@audreyr</a>
        <td><a target="_blank"
               href="https://github.com/audreyr">@audreyr</a>
        <td><a target="_blank"
               href="http://www.audreymroy.com/">audreymroy.com/</a>
        <td>

    </tr>
    <tr>

        <td>Dana Bauer
        <td>
        <td><a target="_blank"
               href="https://twitter.com/geography76">@geography76</a>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Jeff Forcier
        <td>Fabric
        <td><a target="_blank"
               href="https://twitter.com/bitprophet">@bitprophet</a>
        <td><a target="_blank"
               href="https://github.com/bitprophet">@bitprophet</a>
        <td><a target="_blank"
               href="http://bitprophet.org/">bitprophet.org/</a>

        <td>
    </tr>
    <tr>

        <td>Kenneth Love
        <td>
        <td><a target="_blank"
               href="https://twitter.com/kennethlove">@kennethlove</a>
        <td><a target="_blank"
               href="https://github.com/kennethlove/">@kennethlove/</a>
        <td><a target="_blank"
               href="http://gigantuan.net/">gigantuan.net/</a>

        <td>
    </tr>
    <tr>

        <td>Doug Hellman
        <td>Book
        <td><a target="_blank"
               href="https://twitter.com/doughellmann">@doughellmann</a>
        <td><a target="_blank"
               href="https://github.com/dhellmann">@dhellmann</a>
        <td><a target="_blank"
               href="http://doughellmann.com/">doughellmann.com/</a>

        <td>
    </tr>
    <tr>

        <td>Justin Abrahms
        <td>
        <td><a target="_blank"
               href="https://twitter.com/justinabrahms">@justinabrahms</a>
        <td><a target="_blank"
               href="https://github.com/justinabrahms/">@justinabrahms/</a>
        <td><a target="_blank"
               href="http://justin.abrah.ms/">justin.abrah.ms/</a>

        <td>
    </tr>
    <tr>

        <td>Donald Stufft
        <td>Django, Pip
        <td><a target="_blank"
               href="https://twitter.com/dstufft">@dstufft</a>
        <td>
        <td><a target="_blank"
               href="https://caremad.io/">https://caremad.io/</a>

        <td>
    </tr>
    <tr>

        <td>Travis Rudd
        <td>
        <td>
        <td><a target="_blank"
               href="https://github.com/tavisrudd">@tavisrudd</a>
        <td>

        <td>
    </tr>
    <tr>

        <td>Brandon Rhodes
        <td>
        <td><a target="_blank"
               href="https://twitter.com/brandon_rhodes">@brandon_rhodes</a>
        <td>
        <td><a target="_blank"
               href="http://rhodesmill.org/brandon">rhodesmill.org/brandon</a>
        <td>

    </tr>
    <tr>

        <td>Hynek Schlawack
        <td>Python, Twisted
        <td><a target="_blank"
               href="https://twitter.com/hynek">@hynek</a>
        <td><a target="_blank"
               href="https://github.com/hynek">@hynek</a>
        <td><a target="_blank"
               href="https://hynek.me/">https://hynek.me/</a>

        <td>
    </tr>
    <tr>

        <td>Doug Napoleone
        <td>PyCon
        <td><a target="_blank"
               href="https://twitter.com/dougnap">@dougnap</a>
        <td>

        <td>
        <td>
    </tr>
    <tr>

        <td>Olivier Grisel
        <td>SciKit
        <td><a target="_blank"
               href="https://twitter.com/ogrisel">@ogrisel</a>
        <td><a target="_blank"
               href="https://github.com/ogrisel">@ogrisel</a>
        <td>

        <td>
    </tr>
    <tr>

        <td>Ben Darnell
        <td>Tornado
        <td><a target="_blank"
               href="https://twitter.com/bendarnell">@bendarnell</a>
        <td><a target="_blank"
               href="https://github.com/bdarnell">@bdarnell</a>
        <td><a target="_blank"
               href="http://bdarnell.github.io/">bdarnell.github.io/</a>

        <td>
    </tr>
    <tr>

        <td>Pablo Hoffman
        <td>Scrapy
        <td><a target="_blank"
               href="https://twitter.com/pablohoffman">@pablohoffman</a>
        <td><a target="_blank"
               href="https://github.com/pablohoffman">@pablohoffman</a>
        <td><a target="_blank"
               href="http://pablohoffman.com/">pablohoffman.com/</a>
        <td>

    </tr>
    <tr>

        <td>Michael DeHaan
        <td>Ansible
        <td><a target="_blank"
               href="https://twitter.com/laserllama">@laserllama</a>
        <td><a target="_blank"
               href="https://github.com/mpdehaan">@mpdehaan</a>
        <td><a target="_blank"
               href="http://michaeldehaan.net/">michaeldehaan.net/</a>

        <td>
    </tr>
    <tr>

        <td>Philip Jenvey
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/pjenvey">@pjenvey</a>
        <td><a target="_blank"
               href="https://github.com/pjenvey">@pjenvey</a>
        <td>

        <td>
    </tr>
    <tr>

        <td>David Murray
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/rdavidmurray">@rdavidmurray</a>
        <td><a target="_blank"
               href="https://github.com/bitdancer">@bitdancer</a>
        <td><a target="_blank"
               href="http://www.bitdance.com/">bitdance.com/</a>
        <td>

    </tr>
    <tr>

        <td>Vinay Sajip
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/vsajip">@vsajip</a>
        <td><a target="_blank"
               href="http://plumberjack.blogspot.nl/">plumberjack.blogspot.nl/</a>
        <td>

    </tr>
    <tr>

        <td>Diana Clarke
        <td>PyCon
        <td><a target="_blank"
               href="https://twitter.com/diana_clarke">@diana_clarke</a>
        <td>
        <td><a target="_blank"
               href="http://www.linkedin.com/in/dianajoanclarke">linkedin.com/in/dianajoanclarke</a>
        <td>

    </tr>
    <tr>

        <td>Selena Deckelman
        <td>PyLadies, PostgreSQL
        <td><a target="_blank"
               href="https://twitter.com/selenamarie">@selenamarie</a>
        <td><a target="_blank"
               href="https://github.com/selenamarie">@selenamarie</a>
        <td><a target="_blank"
               href="http://www.chesnok.com/daily/">chesnok.com/daily/</a>

        <td>
    </tr>
    <tr>

        <td>Tim Golden
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/tjguk">@tjguk</a>
        <td><a target="_blank"
               href="https://github.com/tjguk">@tjguk</a>
        <td><a target="_blank"
               href="http://ramblings.timgolden.me.uk/">ramblings.timgolden.me.uk/</a>

        <td>
    </tr>
    <tr>

        <td>Senthil Kumaran
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/phoe6">@phoe6</a>
        <td><a target="_blank"
               href="https://github.com/orsenthil">@orsenthil</a>
        <td><a target="_blank"
               href="http://www.uthcode.com/">uthcode.com/</a>
        <td>

    </tr>
    <tr>

        <td>Serhiy Storchaka
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/serhiy-storchaka">@serhiy-storchaka</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Brett Slatkin
        <td>Depicted, AppEngine
        <td><a target="_blank"
               href="https://twitter.com/haxor">@haxor</a>
        <td><a target="_blank"
               href="https://github.com/bslatkin">@bslatkin</a>
        <td><a target="_blank"
               href="http://www.onebigfluke.com/">onebigfluke.com/</a>

        <td>
    </tr>
    <tr>

        <td>Nadeem Vawda
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="https://plus.google.com/%2BNadeemVawda">++NadeemVawda</a>
        <td>
        <td>
    </tr>
    <tr>

        <td>Łukasz Langa
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/llanga">@llanga</a>
        <td><a target="_blank"
               href="https://github.com/ambv">@ambv</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Jannis Leidel
        <td>pip, kurma, django, venv
        <td><a target="_blank"
               href="https://twitter.com/jezdez">@jezdez</a>
        <td><a target="_blank"
               href="https://github.com/jezdez">@jezdez</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Richard Oudkerk
        <td>Python
        <td>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Meador Inge
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/meadori">@meadori</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/pub/meador-inge/6/19a/a14">linkedin.com/pub/meador-inge/6/19a/a14</a>
        <td>

    </tr>
    <tr>

        <td>Mark Dickinson
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/mdickinson">@mdickinson</a>
        <td><a target="_blank"
               href="http://uk.linkedin.com/pub/mark-dickinson/24/935/b78">uk.linkedin.com/pub/mark-dickinson/24/935/b78</a>
        <td>

    </tr>
    <tr>

        <td>Larry Hastings
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://bitbucket.org/larry">@larry</a>
        <td><a target="_blank"
               href="http://www.linkedin.com/pub/larry-hastings/1/2a5/310">www.linkedin.com/pub/larry-hastings/1/2a5/310</a>
        <td><a target="_blank"
               href="http://pyvideo.org/speaker/212/larry-hastings">pyvideo.org/speaker/212/larry-hastings</a>

    </tr>
    <tr>

        <td>Jesus Cea
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="http://www.jcea.es/">jcea.es/</a>
        <td>
            <a target="_blank"
               href="https://plus.google.com/111762523070732924160">+111762523070732924160</a>
        </td>

    </tr>
    <tr>

        <td>Peter Moody
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="https://code.google.com/p/ipaddr-py/">https://code.google.com/p/ipaddr-py/</a>
        <td>Works at google

    </tr>
    <tr>

        <td>Kristjan Valur Jonsson
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/kristjanvj">@kristjanvj</a>
        <td><a target="_blank"
               href="http://www.ru.is/faculty/kristjanvj/">ru.is/faculty/kristjanvj/</a>
        <td><a target="_blank"
               href="http://is.linkedin.com/pub/kristjan-valur-jonsson/20/b17/149">is.linkedin.com/pub/kristjan-valur-jonsson/20/b17/149</a>

    </tr>
    <tr>

        <td>Bob Quinlan
        <td>Python
        <td>
        <td><a target="_blank"
               href="https://github.com/bquinlan">@bquinlan</a>
        <td>
        <td>

    </tr>
    <tr>

        <td>Bob Ippolito
        <td>Simplejson
        <td><a target="_blank"
               href="https://twitter.com/etrepum">@etrepum</a>
        <td><a target="_blank"
               href="https://github.com/etrepum">@etrepum</a>
        <td><a target="_blank"
               href="http://bob.ippoli.to/">bob.ippoli.to/</a>
        <td>

    </tr>
    <tr>

        <td>Drew Houston
        <td>
        <td><a target="_blank"
               href="https://twitter.com/drewhouston">@drewhouston</a>
        <td>
        <td>

        <td>
    </tr>
    <tr>

        <td>David Cramer
        <td>
        <td><a target="_blank"
               href="https://twitter.com/zeeg">@zeeg</a>
        <td><a target="_blank"
               href="https://github.com/dcramer">@dcramer</a>
        <td><a target="_blank"
               href="http://justcramer.com/">justcramer.com/</a>
        <td>

    </tr>
    <tr>

        <td>Jeff Lindsay
        <td>localtunnel,dokku
        <td><a target="_blank"
               href="https://twitter.com/progrium">@progrium</a>
        <td><a target="_blank"
               href="https://github.com/progrium">@progrium</a>

        <td>
        <td>
    </tr>
    <tr>

        <td>Mark Hammond
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/skippyhammond">@skippyhammond</a>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Jeremy Hylton
        <td>Python
        <td><a target="_blank"
               href="https://twitter.com/jeremyhylton">@jeremyhylton</a>
        <td>
        <td>
        <td>

    </tr>
    <tr>

        <td>Richard Jones
        <td>PyPi
        <td><a target="_blank"
               href="https://twitter.com/r1chardj0n3s">@r1chardj0n3s</a>
        <td>
        <td><a target="_blank"
               href="http://mechanicalcat.net/richard">mechanicalcat.net/richard</a>

        <td>
    </tr>
    <tr>

        <td>Daniel Greenfeld
        <td>Book, Speaker
        <td><a target="_blank"
               href="https://twitter.com/pydanny">@pydanny</a>
        <td><a target="_blank"
               href="https://github.com/pydanny">@pydanny</a>
        <td><a target="_blank"
               href="http://pydanny.com/">pydanny.com/</a>
        <td>

    </tr>

    <tr>

        <td>Ezio Melotti
        <td>Python
        <td>
        <td>
        <td><a target="_blank"
               href="http://wolfprojects.altervista.org/">wolfprojects.altervista.org/</a>
        <td>

    </tr>
    <tr>

        <td>Matthias Klose
        <td>
        <td>
        <td>
        <td><a target="_blank"
               href="https://launchpad.net/~doko">https://launchpad.net/~doko</a>
        <td>
        <td>
    </tr>
    </tbody>
    </table>

        <div class="bs-callout bs-callout-warning">

            <a href="#mc_embed_signup" data-toggle='modal' class="btn btn-success"
               data-track='newsletter'
               >Subscribe</a>
            <span style="padding-left:10px;padding-right:10px;">No spamming, I promise!</span>


                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Top 400 #Python Projects"
                   data-via="pythonhackers" data-url="pythonhackers.com/top-python-projects/" data-size="large" data-related="pythonhackers"
                   data-hashtags="python,hackers,github">Tell your friends</a>

                <a href="https://twitter.com/pythonhackers" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">
                            Follow @pythonhackers</a>

        </div>
    </div>
{% endblock %}