{% extends "base.html" %}

{% block content %}
<main class="bs-masthead" id="content" role="main">

    <div class="container">
        <h1>Python Hackers</h1>
        <p class="lead">
            Awesome people talk about the best programming language...
        </p>
        <p class="lead">
            <a href="#mc_embed_signup" class="btn btn-danger btn-lg" data-toggle="modal" title="">Join Beta (200+)</a>
{#                    <a class="btn-auth btn-github large" href="/oauth/github">#}
{#                        Sign in with <b>Github</b>#}
{#                    </a>#}
        </p>
        <br />
        <p class="lead" >
            <a href="https://twitter.com/pythonhackers" class="twitter-follow-button pull-left"
           data-show-count="true" data-size='large' data-show-count="false" data-lang="en">Follow
            @pythonhackers</a>
            </p>
        <p class="lead" style="margin-top: 20px;width: 100%;padding-top: 30px;">
            <iframe src="http://ghbtns.com/github-btn.html?user=pythonhackers&repo=pythonhackers&type=watch&count=true&size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="216px" height="30px"></iframe>
        </p>

        </div>
</main>

{% endblock %}