
html, body {
    height: 100%
}
body{
    background-color: #f3f8fb;
}

ul{
    list-style-type: none;
    padding-left:0;
}
div#page-wrap {
    min-height: 100%;
    position: relative;
}
.navbar {
    min-height:30px;
}
.message{
    /*max-height: 69px;*/
    overflow-y:hidden;
    color:dimgray;
    font-size:15px;
}
.message-container{
    /*border-bottom: 1px solid #d3d3d3;*/
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;

}
.footer ul li {
    margin-right:20px;
}

.navbar .navbar-brand,.navbar ul li a{
    padding-top:10px;
    padding-bottom: 10px;
}
#body {
    padding-bottom: 85px; /* height of footer */
}

#body #main .container, #body #main .container-fluid{
    background-color:transparent;
    border-radius: 5px;
    /*padding-left:50px;*/
    padding-top:20px;
    padding-bottom: 20px;
}

#footer {
    bottom: 0;
    height: 55px;
    left: 0;
    position: absolute;
    right: 0;
    background: #333333;
    /*padding: 45px 0 150px;*/
    min-width: 960px;
    color: #c0c0c0;
    font-size:13px;
    padding-top:25px;
    padding-bottom:15px;
    /*padding-left: 20%;*/
}

.navbar i{
    font-size:20px;
}

#footer p {
    letter-spacing: .8px;
    float:right;

}
#footer p i.fa-heart{
    color:red;
}

.bs-masthead {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.bs-masthead h1 {
    font-size: 50px;
    line-height: 1;
}

.bs-masthead .btn-outline-inverse {
    margin: 10px;
}

a:hover {
    text-decoration: none;
}

.links {
    /*padding-left:50px;*/
}

.bs-masthead .lead {
    margin-right: 25%;
    font-size: 30px;
    text-align: left;
}

.bs-masthead h1 {
    font-size: 100px;
    text-align: left;
}

.frame .link-box{
    margin-left:6px;
}

.link-box {
    margin-bottom: 0px;
    padding-bottom: 7px;
    padding-right: 0;
    margin-left: 65px;
}

h4 a {
    text-transform: uppercase;
}

.tag {
    color: #d9534f;
}

.ositem {
    padding-bottom: 5px;
}

.ositem .index {
    font-size: 16px;
    color: slategray;
    font-weight: bold;
}

.ositem:hover {
    background-color: lemonchiffon;
}

.ositem .info .project {
    font-size: 1.6em;
}

.ositem .description p {
    font-size: 14px;
}

.ositem .number {
    padding-top: 4px;
    text-align: center;
    font-size: 1.2em;
    color: #3a3c3c;
}

.link-container {
    padding-top: 5px;
}

.link-box i {
    margin-right:5px;
}

.link-container .col-lg-10 {
    padding-right: 5px;
}

.link-container .col-lg-2 {
    padding-left: 5px;
}

.link-container .label {

}

.links .front-action {
    max-width: 50px;
    padding-top: 5px;
    width: 100px;
    /*float: left;*/
    margin-right: 10px;
    line-height: 25px;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.linklist {
    box-shadow: 1px;
}

@media (min-width: 768px) {
    .links .front-action {
    {
    margin-left : -70 px;

    }
    }
}

.user-info {
    float: left;

}

.link-discuss {
    color: darkgray;
}

.front-action{
    position: absolute;
    left:-35px;
    top:-0px;
}

.links .front-action i {
    color: lightgray;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    padding-left: 5px;
    padding-top:3px
}

.front-action span.label {
    color: #d3d3d3;
    font-size: 12px;
    font-weight: bold;
    margin-left:4px;
}

.message{

}
.related-discussions li a:hover{

}
.related-discussions li{
    margin-bottom:5px;
    padding: 5px 5px 5px 10px;
    opacity: 0.5;
}
.related-discussions li:hover{
    border-radius: 5px;
    background-color: #EEEEEE;
    font-weight: bold;

    opacity: 1;
}
.related-discussions li a{
    color:#336699;

    margin-bottom:10px;
}

.gray{
    color:gray;
}
.links a.link, .link{
    font-size: 16px;
    color: #336699;
}

.links a {
    font-size: 14px;
}

.navbar-brand {
    font-size: 1.5em;
}

#join-us {
    border-bottom: 2px solid crimson;
}

.package-desc h1{
    font-size:18px;
}

.right-border{
    border-right:1px solid #eee;
}
.left-border{
    border-left:1px solid #eee;
}

.fullheight{
    height: 100%;
}

.message{
    display: inline-block;
    font-family: 'Questrial', sans-serif;
    width:100%;
}
.message p{
    display: inline-block;
}

.discussion .header{

}
.discussion-message{
    padding:20px;
    font-size:18px;
    font-family: 'Questrial', sans-serif;
}
.discussion-head, .discussions{
    background-color: white;
    padding-bottom:20px;
    margin-bottom:10px;
    font-size:16px;
    font-family: 'Questrial', sans-serif;
}

.discussions .part{
    margin-bottom:10px;
    border-bottom:1px solid #eee;
    padding-bottom: 10px;
}

.discussions .part a{
    font-size:16px;
}

a i.orange{
    color:orange;
}

.related{
    height:100%;
    min-height: 100%;
    display: block;
    border-left: 1px solid #EEEEEE;
}

.discussions .topic{
    border:1px solid #eee;
    padding:0;
    border-radius: 5px;
    margin-bottom:20px;
}
.discussions .topic .header{
    background-color: #EEEEEE;
    position: relative;
    border:3px solid #fff;

}

.discussions .topic h3{
    display: inline-block;
    padding-top:5px;
    margin-top:0;
    padding-bottom:5px;

    padding-left:5px;
}
.discussions .topic  a {
    position: absolute;
    top:10px;
    right:10px;
    font-size:14px;
}
.discussions .topic p{
    padding-left:5px;
}


.modal .form-group{
    margin-right:0;
    margin-left:0;
}

.post{
    font-size:16px;
    font-family: 'Questrial', sans-serif;
    line-height:26px;
}

.post p{
    margin-bottom:1.7rem;
}

.post .panel-footer a {
    margin-right:10px;
}

.bootstrap-tagsinput {
  background-color: #fff;
  /**/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  font-size:18px;
}

.bootstrap-tagsinput input {
  /*border: 1px solid #ccc;*/
    border:none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}

.bootstrap-tagsinput input:focus {
  /*border: none;*/
  /*box-shadow: none;*/
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}