<!DOCTYPE html>
<html>
<head>
    <title>Python Hackers Community</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


    <div class="container-fluid">
            <div id='main'>
            </div>
    </div>

    {%  include "modals.html" %}
    {%  include "js_templates.html" %}

    <script src="/static/js/libs/underscore.js" type="text/javascript"></script>
    <script src="/static/js/libs/jquery.min.js" type="text/javascript"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

    <script src='/static/js/libs/backbone-min.js' type='text/javascript'></script>
    <script src='/static/js/libs/backbone.marionette.js' type='text/javascript'></script>
    <script src="/static/js/libs/bootstrap.min.js"></script>
    <script src="/static/js/libs/parsley-standalone.min.js"></script>
</body>
</html>