{% extends "base.html" %}


{% block content %}
    <div class='links container'>
    {% for link in links %}
        <div class='row'>
            <div class='front-action'>
                <i class='icon-arrow-up icon-2x'></i>
                <span class="label label-success">{{ link.popularity }} / {{ link.comment }} </span>

            </div>
            <div class='col-lg-8 link-box' style="padding-left:0;">
                <div class='clear link-container row'>
                    <div class='col-lg-10'>
                        <a href='{{ link.url }}' target="_blank" class='link'>
                        {{ link.title }}
                    </a>
                    ({{ link.domain }})

                    </div>
                    <div class='col-lg-2' style="text-align: right;padding-top:12px;">
                            {{ link.ago }} mins ago
                        </div>
                </div>
                <div class='row'>
                    <div class='col-lg-2'>
                        <a href="#comments" class='link-discuss'>Comments:&nbsp;<b>{{ link.comment }}</b></a>
                    </div>

                    <div class='col-lg-3'>
                        <a href="@bahadir">@{{ link.user }}</a>
                    </div>
                    <div class="col-7" style="text-align: right">
                        <a href="#/tag/flask" class='tag'>
                            <span class="">#Flask</span>
                        </a>
                        <a href="#/tag/ajax" class='tag'><span class="">#AJAX</span></a>
                    </div>


                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}