{% extends "base.html" %}


{% block content %}
<div class='container'>
    <div class='row' style='box-shadow: 5px 5px 5px 5px #AEAEAE;border-radius: 10px;'>
        <div class='col-lg-9'>
            <h1 style="color:#a9302a;">{{ project.name }}</h1>
            <a href='{{ project.src_url}}'>{{ project.src_url }}</a>

            <p style='padding-top:10px;padding-bottom: 10px;'>{{ project.description }}</p>
        </div>
        <div class='col-lg-3' style="text-align: right">
            <h3 style='padding-bottom: 10px;'><i class='icon-star' style='color:goldenrod'></i>&nbsp;{{ project.watchers }}</h3>
            <a href="https://twitter.com/share" class="twitter-share-button"
                       data-via="pythonhackers" data-size="large" data-related="pythonhackers"
                       data-hashtags="python,hackers">Tell your friends</a>
        </div>
    </div>

    <hr />
{% if not related_projects.length %}
        <div class='bs-callout bs-callout-warning col-lg-8' style="">
            <h4>Oopss</h4>
            <p>No related projects found yet for {{ project.name }}?! Pff...</p>
        </div>
{%  else  %}
    <h3>{{ project.name }} Related Projects</h3>

    {% for project in related_projects %}
         <div class='row link-box ositem'>
    <div class='row'>
        <div class='col-lg-1 number'>
            <span class='index'>{{ loop.index }}.</span>

        </div>
        <div class='col-lg-10 info'>
            <a class='project' href='/os/{{ project.slug }}'>{{ project.name }}</a>
            <a href='{{ project.src_url }}' target="_blank">(git)</a>
        </div>
    </div>
    <div class='row description'>
        <div class='col-lg-1 number'>
            <a href="/os/{{ project.slug }}" data-toggle="tooltip"
               title='{{ project.name }} has <br />{{ project.watchers }} watchers on Github'
               data-html='true' data-placement='auto left'>{{ project.watchers }}</a>

        </div>
        <div class='col-lg-11'>
            <p style=''>{{ project.description }}</p>
        </div>
    </div>
</div>
    {% endfor %}


    {%  endif %}
    <hr />
    <div id="disqus_thread"></div>

</div>
{% endblock %}

{% block scripts %}
var disqus_shortname = 'pythonhackers';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
{%  endblock %}