{% extends "base.html" %}


{% block content %}
<div class='container'>
    <h1>{{ project.name }}</h1>

    <a href='{{ project.src_url}}'>{{ project.src_url }}</a>

    <h3>{{ project.stars }}</h3>
    <h3>{{ project.watchers }}</h3>
    <p>
        {{ project.description }}
    </p>
    <div id="disqus_thread"></div>

</div>
{% endblock %}

{% block scripts %}
var disqus_shortname = 'pythonhackers';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
{%  endblock %}