{% extends "base.html" %}


{% block content %}
<div class='container'>
<div class='bs-callout bs-callout-warning'>
            <h4>Top 400 Python Projects in Github</h4>
            <p>Popular Python projects in Github.
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pythonhackers.com" data-text="Join PythonHackers beta list" data-via="pythonhackers" data-size="large" data-related="pythonhackers" data-hashtags="python,hackers">Tell your friends</a>
            </p>
        </div>

<div class='col-lg-8'>
    {% for project in projects %}
        <div class='row link-box ositem'>
            <div class='row'>
                <div class='col-lg-1 number'>
                    <span style=''>{{ project.watchers }}</span>
                </div>
                <div class='col-lg-10 info'>
                    <a class='project' href='/os/{{ project.slug }}'>{{ project.name }}</a>
                    <a href='{{ project.src_url }}' target="_blank">(git)</a>
                </div>
            </div>
            <div class='row description'>
                <div class='col-lg-1'></div>
                <div class='col-lg-11'>
                <p style=''>{{ project.description }}</p>
            </div>
            </div>

        </div>
    {% endfor %}
</div>
<div class='col-lg-4'>

</div>
</div>
{% endblock %}