{% extends "base.html" %}


{% block content %}
<div class='container'>
    {% for project in projects %}
        <div class='row link-box'>
            <div class='row'>
                <div class='col-lg-1'>
                {{ project.stars }}/{{ project.watchers }}
                </div>
                <div class='col-lg-10 '>
                    <h4><a href='/os/{{ project.slug }}'>{{ project.name }}</a></h4>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-1'></div>
                <div class='col-lg-11'>
                <p>{{ project.description }}</p>
            </div>
            </div>

        </div>
    {% endfor %}
</div>
{% endblock %}